*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    max-width: 1440px;
    background-color: #ECF2F8;
}
h1, h2{
    color: #48556A;
}
p{
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.12px;
    color: #6E8098;
}
@media (min-width: 600px) and (max-width: 1640px){
    
.container {
    max-width: 730px;
    margin: 260px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
}
.image {
    width: 285px;
    height: 280px;
    background-image: url(./images/drawers.jpg);
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.info {
    max-width: 365px;
    margin: 32px 40px;
}
.info p{
    margin: 12px 0 20px;
}
h1{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.25px;
}
.user-info{
    display: flex;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.name-date {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
h2{
    margin: 0;
    font-size: 13px;
    font-weight: 700;
}
.name-date .date-of-publish {
    margin: 0;
}
.share{
    margin-left: auto;
    position: relative;
    width: 32px;
    height: 32px;
    background-image: url("./images/Group\ 3.png"); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;    
    border-radius: 50%;
    transition: all 0.2s linear;
}
.share-hovered{
    margin-left: auto;
    position: relative;
    width: 32px;
    height: 32px;
    background-image: url("./images/hover-pointer.png"); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;    
    border-radius: 50%;
}
.links {
    width: 248px;
    height: 55px;
    background-color: #48556A;
    border-radius: 10px;
    margin: auto;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    line-height: 32px;
    position: absolute;
    top: -80px;
    right: -109px;
}
.links-outer{
    display: none;
}
.links span{
    color: #9DAEC2;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 5px;
    line-height: 20px;
    text-transform: uppercase;
}
.half-square{
    width: 24px;
    height: 24px;
    border: 13px solid #48556A;
    border-top-color: transparent;
    position: absolute;
    top: 38px;
    left: 107px;
    transform: rotate(45deg);
    
}
.visible {
    display: block;
}
}